@charset "UTF-8";

/* aparelho em pe (portrait) */

body{
    background: url(../imagem/cev-portrait.jpg);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
}